<div class="row">
	<div class="col-md-9">
		<br>
		<span style="font-size:124%"><%=$ad.ad_text%></span>
		<br><br>
		<hr>
		<br>
		<span style="font-size: 110%">
			<b>Тип предложения:</b> <%= $ad.bill_type %>
			<br>
			<b>Тел:</b> <%= $ad.phone%>
		</span>
		<br>
		<hr>
		<span style="font-size:85%">
			<b>Автор: </b><a href="/user/<%= $ad.author%>"><%= $ad.author%></a><br>
			<b>Добавлена: </b><%= $ad.created_at%><br>
			<b>Просмотров: </b><%= $ad.views %>
		</span>
	</div>
	<%if $client && $ad.author == $client.username%>
		<div class="col-md-3">
			<div class="list-group">
				
				<a href="/ad/<%= $ad.id%>/edit" class="list-group-item">
					<div class="row">
						<div class="col-md-3">
							<span style="padding-top: 7px;" class="glyphicon glyphicon-edit icon"></span>
						</div>
						<div class="col-md-9">
							Редактировать объявление
						</div>
					</div>
				</a>
									
				<a href="/ad/<%= $ad.id%>/destroy" onClick="return confirm('Действительно удалить объявление?');" class="list-group-item">
					<div class="row">
						<div class="col-md-3">
							<span style="padding-top: 7px;" class="glyphicon glyphicon-trash icon"></span>
						</div>
						<div class="col-md-9">
							Удалить объявление
						</div>
					</div>
				</a>
			</div>
		</div>
	<%end%>
</div>
<%	
	$ad.views +=1
	$ad.save
%>