<div class="border">
	<h3>Ваша статистика:</h3><br>
	<p><b>Имя пользователя:</b> <%=$client.username%></p>
	<p><b>Репутация:</b> <%=$client.reputation%></p>
	<p><b>Дата регистрации:</b> <%=$client.created_at%></p>
	<p><b>Всего объявлений:</b> <%=$client.total_ads%></p>
	<p><b>ID:</b> <%=$client.id%></p>
</div>

<br>

<div class="border">
	<h3>Избранные объявления:</h3><br>
</div>