<div class="border">
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-7">
			<span id="fontintro" style="font-size: 130%"><%=$client.username%></span><hr>
			<p><b>Телефоны:</b>
			<a href="/settings"><span <%if client_phone=="Не указано"%> style="color: red"<%end%>><%=client_phone%></span></a>
			</p>
			<p><b>Репутация:</b> <%=$client.reputation%></p>
			<p><b>Дата регистрации:</b> <%=$client.created_at%></p>
			<p><b>Всего объявлений:</b> <%=$client.total_ads%></p>
			<p><b>ID:</b> <%=$client.id%></p>
		</div>
	</div>
</div>

<br>

<div class="border">
	<h3>Избранные объявления:</h3><br>
</div>