<div class="border">
	<div class="row">
		<div class="col-md-4">
		</div>
		
		<div class="col-md-7">
			<span id="fontintro" style="font-size: 130%"><%=$user.username%></span><hr>
			<p><b>Тел.:</b> <% if not $user.phone%>
								Не указанно
							<%else%>
								<%= $user.phone%>
							<%end%></p>
			<p><b>Репутация:</b> <%=$user.reputation%></p>
			<p><b>Дата регистрации:</b> <%=$user.created_at%></p>
			<p><b>Всего объявлений:</b> <%=$user.total_ads%></p>
		</div>
	</div>
</div>

<br>

<div class="border">
	<h3>Избранные объявления:</h3><br>
</div>